{% extends "base.html" %}
{% load utils %}
{% block title %}{{ user }} account - {{ config.verbose_name }}{% endblock %}
{% block style %}
    <style>
        nav.feeds {
            margin-top: 1rem;
        }

        table.no-border,
        table.no-border td {
            border: none;
        }
        div.invites {
            display: flex;
            flex-flow: row wrap;
            max-height: 500px;
            overflow: auto;
            outline: 1px solid;
        }
        div.taggregations_lists {
            display: flex;
            flex-flow: row wrap;
            gap: 5rem;
        }
        div.taggregations_lists ul {
            padding: 0;
        }
        div#profile {
            display: flex;
            flex-flow: row wrap;
            gap: 2rem;
        }
        div.invite_list, div.invite_tree {
            padding: 1rem;
        }
        div.invite_list table {
            table-layout: fixed;
            width: 100%;
            word-break: break-word;
            max-width: max(60vw,600px);
            border-collapse: collapse;
            border: 3px solid;
        }
    </style>
{% endblock %}
{% block content %}
    <nav>
        <ul>
            <li><a href="{% url 'edit_settings' %}">Edit Settings</a></li>
            <li><a href="{% url 'edit_filters' %}">Edit Filters</a></li>
            <li><a href="{% url 'edit_profile' %}">Edit Profile</a></li>
            <li><a href="{% url 'edit_avatar' %}">Edit Avatar</a></li>
            <li><a href="{{ user.get_absolute_url }}">View Profile</a></li>
            <li><a href="{% url 'bookmarks' %}">Bookmarks</a></li>
            <li><a href="{% url 'notifications' %}">Notification History</a></li>
            <li><a href="{% url 'inbox' %}">Message Inbox</a></li>
            <li><a href="{% url 'password_change' %}">Change Password</a></li>
            <li><a href="{% url 'logout' %}" id="logout_link">Logout</a></li>
        </ul>
    </nav>
    <h1>Your Account</h1>
    {% if not user.email_validated %}
        <div class="generate_an_invite" id="validate-email">
            <h2>Validate your email address</h2>
            <form class="submit-comment-form" method="POST" action="{% url 'send_validation_email' %}">
                {% csrf_token %}
                <input type="submit" value="send">
            </form>
        </div>
        <hr />
    {% endif %}
    {% if user.ttl.0 == 0 %}
        <div class="generate_an_invite" id="restart">
            <h2>Restart your story</h2>
            <form class="submit-comment-form" enctype="multipart/form-data" method="POST" action="{% url 'restart_account' %}">
                {% csrf_token %}
                {{ new_story_form }}
                <input type="submit" value="let's go!">
            </form>
        </div>
        <hr />
    {% endif %}
    {% if user.email_validated and config.REQUIRE_VOUCH_FOR_PARTICIPATION and not user.invited_by and not user.can_participate %}
        <div class="generate_an_invite" id="validate-email">
            <h2><a href="{% url 'new_invitation_request' %}">Request to be vouched</a></h2>
            <p class="help-text">Let us know about you in your request in order to be vouched and be able to participate.</p>
        </div>
        <hr />
    {% endif %}
    <div id="profile">
        {% include "account/profile_include.html" with user=user %}
    </div>
{% endblock %}
